// Custom styles
@import "@fontsource/nunito-sans/400.css"; // Regular
@import "@fontsource/nunito-sans/600.css"; // Semi-bold
@import "@fontsource/nunito-sans/700.css"; // Bold

// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}